<% if @heading.present? %>
  <section class="no-margin-top margin-bottom">
    <div class="expanded jumbo-budget budget-heading padding">
      <div class="row">
        <div class="small-12 column">
          <%= back_link_to budget_path(@budget) %>

          <% if can? :show, @ballot %>
            <%= link_to t("budgets.investments.header.check_ballot"),
                        budget_ballot_path(@budget),
                        class: "check-ballot button" %>
          <% end %>
        </div>
      </div>

      <div class="row progress-votes">
        <div class="small-12 column">
          <% if can? :show, @ballot %>
            <div id="check-ballot" style="display: none;">
              <%= link_to t("budgets.investments.header.check_ballot"),
                          budget_ballot_path(@budget) %>
            </div>
            <br>

            <div class="group-buttons-container">
              <% @budget.groups.order(:id).each do |group| %>
                <div class="group-container" style="display: inline-block; margin-right: 10px;">
                  <%= link_to group.name, budget_investments_path(@budget, group_id: group.id, group_name: group.name), class: "group-button button", style: "background-color: darkblue; color: white;" %>
                </div>
              <% end %>
            </div>

            <div class="group-heading">
              <% if params[:group_name].present? %>
                <h2 class="group-name">Kategorija: <%= params[:group_name] %></h2>
              <% else %>
                <h2 class="group-name">Kategorija: <%= @heading.group.name %></h2>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <div class="expanded jumbo-budget padding no-margin-top margin-bottom">
    <div class="row">
      <div class="small-12 column">
        <%= back_link_to budget_path(@budget) %>

        <h2 class="margin-top">
          <%= t("budgets.investments.index.title") %>
        </h2>
      </div>
    </div>
  </div>
<% end %>


<script>
  function changeGroupName(groupName, event) {
    event.preventDefault(); // Prevent the default behavior of the link
    document.getElementById("group-name").innerHTML = "Kategorija: " + groupName;
  }
</script>

