<%= translatable_form_for(investment, url: url, html: { class: "budget-investment-form" }) do |f| %>
  <%= render "shared/errors", resource: investment %>

  <fieldset class="required-fields">
    <legend><%= t("shared.required") %></legend>

    <% unless budget.single_heading? %>


      <div>
        <%= f.select :group_id,
                     group_select_options(budget),
                     label: "Projekto idėjos kategorija",
                     class: "group-dropdown",
                     id: "group-id-dropdown"
        %>
      </div>


      <% if budget.headings.size > 0 %>
        <div>
          <%= f.select :heading_id,
                       budget_heading_select_options(budget),
                       label: "Viešoji erdvė",
                       class: "heading-dropdown",
                       id: "heading-id-dropdown"

          %>
        </div>
      <% end %>

    <% end %>

    <div>
      <%= render "shared/globalize_locales", resource: investment %>
    </div>

    <%= f.translatable_fields do |translations_form| %>
      <div>
        <%= translations_form.text_field :title,
                                         maxlength: Budget::Investment.title_max_length,
                                         label: "Projekto idėjos pavadinimas <i>(ne daugiau kaip 5 žodžiai)</i>".html_safe,
                                         data: suggest_data(investment) %>
      </div>
      <!--      <div class="js-suggest" data-locale="<%#= translations_form.locale %>"></div>-->

      <div>
        <%= translations_form.text_area :description,
                                        maxlength: Budget::Investment.description_max_length,
                                        label: "Projekto idėjos aprašymas <i>(Projekto idėjos tikslas, tikslinė grupė, sprendžiama problema)</i>".html_safe,
                                        class: "html-area" %>
      </div>
      <div>
        <%= translations_form.number_field :preliminary_price,
                                           label: "Preliminari projekto idėjos vertė <i>(Ne daugiau nei šeši skaitmenys)</i>".html_safe,
                                           class: "your-custom-class-for-styling" %>
      </div>
    <% end %>
  </fieldset>

  <%= f.invisible_captcha :subtitle %>

  <fieldset>
    <legend><%= t("shared.optional") %></legend>

    <% if feature?(:allow_images) %>
      <%= render Images::NestedComponent.new(f) %>
    <% end %>

    <% if feature?(:allow_attached_documents) %>
      <div class="documents">
        <%= render Documents::NestedComponent.new(f) %>
      </div>
    <% end %>

    <% if false %>
      <div>
        <%= render "map_locations/form_fields",
                   form: f,
                   map_location: investment.map_location || MapLocation.new,
                   label: t("budgets.investments.form.map_location"),
                   help: t("budgets.investments.form.map_location_instructions"),
                   i18n_namespace: "budgets.investments" %>
      </div>
    <% end %>

    <!--    <div>-->
    <%#= f.text_field :organization_name %>
    <!--    </div>-->

    <div>
      <%#= f.label :tag_list, t("budgets.investments.form.tags_label") %>
      <!--      <p class="help-text" id="tags-list-help-text"><%#= t("budgets.investments.form.tags_instructions") %></p>-->

      <!-- <div id="category_tags" class="tags">
        <%= f.label :category_tag_list, t("budgets.investments.form.tag_category_label") %>
        <% categories.each do |tag| %>
          <a class="js-add-tag-link"><%= tag.name %></a>
        <% end %>
      </div>

      <br> -->
      <%# <%= f.text_field :tag_list, value: investment.tag_list.to_s,
                                  label: false,
                                  placeholder: t("budgets.investments.form.tags_placeholder"),
                                  aria: { describedby: "tags-list-help-text" },
                                  class: "js-tag-list tag-autocomplete",
                                  data: { js_url: suggest_tags_path } %>
    </div>

    <%#= render SDG::RelatedListSelectorComponent.new(f) %>
  </fieldset>

  <div class="actions" style="display: flex; flex-direction: column; align-items: center;">
    <% unless current_user.manager? || investment.persisted? %>
      <%= f.check_box :plan_accepted,
                      title: "Naudos atitikimas",
                      label: "Projekto idėjos rezultatai, jų nauda, atitinka bent vieną #{link_to('Kauno rajono savivaldybės 2023-2025 m. strateginio veiklos plano', 'https://www.krs.lt/savivaldybe/administracine-informacija/planavimo-dokumentai-2/strateginiai-veiklos-planai/', target: 'blank')}, plano 4 programos tikslą." %>
      <div style="display: flex; align-items: center; margin-bottom: 10px;">
        <%= f.check_box :terms_of_service,
                        title: t("form.accept_terms_title"),
                        label: t("form.accept_terms",
                                 policy: link_to(t("form.policy"), "/privacy", target: 'blank'),
                                 conditions: link_to(t("form.conditions"), "/conditions", target: 'blank')) %>
      </div>
    <% end %>

    <%= f.submit %>
  </div>



<% end %>


<script>
  $(document).ready(function () {
    console.log('sadsadsad');
    // Select the #mySelect element and attach a change event handler
    $('#budget_investment_group_id').on('change', function () {
      // Show an alert with the selected value
      var group_id = $(this).val();
      $.ajax({
        url: 'dropdown/update_heading_options/',
        type: 'GET',
        dataType: 'json',
        data: {group_id: group_id},
        success: function (data) {
          // Update the options in the second dropdown
          var optionsHtml = data.options.map(function (option) {
            return '<option value="' + option[1] + '">' + option[0] + '</option>';
          }).join('');

          $('#budget_investment_heading_id').html(optionsHtml);
        },
        error: function (xhr, status, error) {
          console.error(error);
        }
      });

    });
  });
</script>
