<% provide :title, t("budgets.results.page_title", budget: @budget.name) %>
<% content_for :meta_description do %><%= @budget.description_for_phase("finished") %><% end %>
<% provide :social_media_meta_tags do %>
<%= render "shared/social_media_meta_tags",
           social_url: budget_results_url(@budget),
           social_title: @budget.name,
           social_description: @budget.description_for_phase("finished") %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: budget_results_url(@budget) %>
<% end %>

<div class="budgets-stats">
  <div class="expanded no-margin-top padding header">
    <div class="row">
      <div class="small-12 column">
        <%= back_link_to budget_path(@budget) %>
        <h2 class="margin-top">
          <%= t("budgets.results.heading") %><br>
          <span><%= @budget.name %></span>
        </h2>
      </div>
    </div>
  </div>
</div>

<%= render "budgets/subnav", budget: @budget %>

<div class="row">
  <div class="small-12 medium-3 large-2 column">
    <h3 class="margin-bottom">
      <%= t("budgets.results.heading_selection_title") %>
    </h3>
    <ul id="headings" class="menu vertical no-margin-top no-padding-top">
      <% @groups.each do |group| %>
        <li>
          <%= link_to group.name,
                      budget_results_path(@budget, group_id: group.to_param),
                      class: group.to_param == @group.to_param ? "is-active" : "" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="small-12 medium-9 large-10 column">

    <%= render "results_table", results_type: :compatible,
                                title: @group.name,
                                heading_price: 0,
                                investments: @investments %>


    <p>
      <%= link_to budget_investments_path(@budget, group_id: @group) do %>
        <small><%= t("budgets.results.investment_proyects") %></small>
      <% end %><br>
      <%= link_to budget_investments_path(@budget, group_id: @group, filter: "unfeasible") do %>
        <small><%= t("budgets.results.unfeasible_investment_proyects") %></small>
      <% end %><br>
      <%= link_to budget_investments_path(@budget, group_id: @group, filter: "unselected") do %>
        <small><%= t("budgets.results.not_selected_investment_proyects") %></small>
      <% end %>
    </p>
  </div>
</div>
